<launch>
    <arg name="uav_params_path"/>
    <arg name="payload_params_path"/>
    <arg name="mechanism_params_path"/>
    <arg name="payload_control_gain_path"/>
    <arg name="uav_control_gain_path"/>
    <arg name="number_of_robots"/>
    <arg name="nr"/>


    <arg name="single_node" value="0" />
    <arg name="index" value="$(eval arg('number_of_robots') - arg('nr'))" />
    
    <node pkg="rotor_tm_control" type="controller_node.py" name="$(eval 'controller_' + str(arg('number_of_robots') - arg('nr') + 1))" output="screen" args="$(arg index) $(arg single_node) $(arg payload_params_path) $(arg uav_params_path) $(arg mechanism_params_path) $(arg payload_control_gain_path) $(arg uav_control_gain_path)">
    </node>

    <include file="$(find rotor_tm)/launch/controller_launcher.launch" if="$(eval arg('nr') - 1 > 0)">
        <arg name="uav_params_path"             value = "$(arg uav_params_path)"/>
        <arg name="payload_params_path"         value = "$(arg payload_params_path)"/>
        <arg name="mechanism_params_path"       value = "$(arg mechanism_params_path)"/>
        <arg name="payload_control_gain_path"   value = "$(arg payload_control_gain_path)"/>
        <arg name="uav_control_gain_path"       value = "$(arg uav_control_gain_path)"/>
        <arg name="number_of_robots"            value="$(arg number_of_robots)"/>
        <arg name="nr"                          value="$(eval arg('nr') - 1)"/>
    </include>

</launch>